/* Start variables */
:root {
    --main-color: #2196f3;
    /* --main-color: purple; */
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --section-padding: 100px;
    --section-background: #ececec;
}

/* End variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
    direction: rtl;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.special-heading {
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    position: relative;
    transition-duration: var(--main-transition);
    z-index: 1;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--main-color);
        /* transition-duration:var(--main-transition); */
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--main-color);
        /* transition-duration:var(--main-transition); */
    }

    &:hover::after {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        z-index: -1;
        transition: right 0.3s, width 0.2s 0.3s, height 0.2s 0.3s, border-radius 0.2s 0.3s;

    }

    &:hover::before {
        left: 0;
        width: 55%;
        height: 100%;
        border-radius: 0;
        z-index: -1;
        transition: left 0.3s, width 0.2s 0.3s, height 0.2s 0.3s, border-radius 0.2s 0.3s;
    }

    &:hover {
        color: white;
        border-color: white;
        transition-delay: 0.5s;
    }
}

.spikes {
    margin-top: 100px;
    position: relative;
}

.spikes::after {
    background-size: 40px;
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 2;
    background-image: linear-gradient(135deg, white 25%, transparent 25%);
}

.spikes::before {
    background-size: 40px;
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 2;
    background-image: linear-gradient(225deg, white 25%, transparent 25%);
}

.dots {
    background-image: url("../images/dots.png");
    position: absolute;
    background-repeat: no-repeat;
    height: 186px;
    width: 204px;
}

.dots-top {
    top: 200px;
    right: 0;
}

.dots-bottom {
    bottom: 200px;
    left: 0;
}

/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global rules */
/* start header  */
body>header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}

body>header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

body>header .container ul.main-nav {
    display: flex;
}

body>header .container ul.main-nav>li>a {
    display: block;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
    padding: 30px 20px;
    position: relative;
    transition-duration: var(--main-transition);
}

body>header .container ul.main-nav>li>a:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

body>header .container ul.main-nav>li>a::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: var(--main-color);
    top: 0;
    right: 0;
    transition-duration: var(--main-transition);
}

body>header .container ul.main-nav>li>a:hover::after {
    width: 100%;
}

body>header .container ul.main-nav .others {
    display: flex;
    align-items: center;
}

body>header .container ul.main-nav .others a::after {
    height: 0;
}

body>header .container ul.main-nav .others>a {
    padding: 0;
    /* background-color: blue; */
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

body>header .container ul.main-nav .others>a:hover div::after {
    width: 0;
}

body>header .container ul.main-nav .others>a div {
    width: 100%;
    height: 6px;
    background-color: rgb(68, 6, 68);
    position: relative;
}

body>header .container ul.main-nav .others>a div::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: purple;
    transition-duration: 0.3s;
    width: 100%;
}

body>header .container .logo {
    /* display: block;
    color: var(--main-color);
    font-size: 26px;
    text-transform: capitalize;
    font-weight: bold;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center; */
    width: 58px;
}

@media (max-width:767px) {
    body>header .container {
        flex-direction: column;
    }

    body>header .container .logo {
        padding-top: 5px;
        /* padding-bottom: 10px; */
    }

    body>header .container ul.main-nav>li>a {
        font-size: 14px;
        padding: 10px;
    }
    
}

body>header .second-nav {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    background-color: white;
    top: 83px;
    padding: 15px 30px;
    gap: 30px;
    align-items: center;
    border-bottom: 3px solid var(--main-color);
    z-index: 2;
    transform: translateY(30px);
    opacity: 0;
    transition-duration: 0.3s;
    z-index: -1;
}

body>header .second-nav .links-container {
    display: flex;
    gap: 40px;
    flex-grow: 1;
}

body>header .second-nav .links-container .links {
    width: 50%;
}

body>header .second-nav .links-container a {
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: bold;
    padding: 15px 0;
    font-size: 18px;
    display: block;
    position: relative;
}

body>header .second-nav .links-container a::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fafafa;
    z-index: -1;
    transition-duration: var(--main-transition);
}

body>header .second-nav .links-container a:hover::before {
    width: 100%;
}

body>header .second-nav .links-container li:not(:last-child) {
    border-bottom: 1px solid #777;
}


body>header .second-nav .links-container a i {
    padding-left: 8px;
    padding-right: 10px;
}

body>header .second-nav img {
    width: 500px;
}

@media(max-width:992px) {
    body>header .second-nav .photo {
        display: none;
    }

    body>header .second-nav {
        top: 91px;
    }
}

@media(max-width:767px) {
    body>header .second-nav .links-container {
        flex-direction: column;
        gap: 0;
    }

    body>header .second-nav .links-container .links {
        width: 100%;
    }

    body>header .second-nav .links-container .links:not(:last-child) li:last-child {
        border-bottom: 1px solid #777;
    }
}

@media(max-width:1200px) {
    body>header .second-nav img {
        width: 300px;
    }
}

body>header .container ul.main-nav>li:last-child>a:hover+.second-nav,
body>header .second-nav:hover {
    transform: translateY(0px);
    opacity: 1;
    z-index: 2;
}

/* end header   */

/* start landing page */
.landing {
    height: calc(100vh - 81px);
    background-color: white;
    position: relative;
    background-image: url("../images/aborateb.jpg");
    background-size: cover;
    /* Ensures the image covers the entire element */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    /* clip-path: polygon(0 0%, 100% 0, 100% 74%, 0 94%); */

}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 80%);
    /* Black see-through */

}

.landing .container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    position: relative;
}

/* .landing img {
    width: 1200px;
    max-width: 100%;
    position: relative;
    animation: landing-image 3s infinite linear alternate;

} */

/* @keyframes landing-image {
    0% {
        top: 0px;
    }

    33% {
        top: 20px;
    }

    100% {
        top: 45px;

    }

    /* 100% {
        top: 70px;
    } 

} */

.landing .text {
    position: relative;
    top: 100px;
    height: fit-content;
    width: 80%;
    transform: translateY(-50%);

}

.landing h1 {
    font-size: 70px;
    color: purple;
    margin-bottom: 30px;
}

.landing p {
    font-size: 30px;
    color: #666;
    margin-top: 5px;
    color: rgb(184, 133, 184);
}

@media (max-width:992px) {
    .landing .image {
        display: none;
    }

    .landing .text {
        /* top: 190px; */
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .landing .text h1 {
        font-size: 60px;
    }

}

.landing span a {
    display: block;
    width: fit-content;
    color: var(--main-color);
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 2;
    position: relative;
    animation: landing-span 2s infinite;
    font-weight: bold;
}

@keyframes landing-span {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        /* transform: translateY(0); */
        bottom: 50px;
    }

    40%,
    60% {
        /* transform: translateY(-15px); */
        bottom: 70px;
    }

}

/* end landing page */
/* start articles */
.articles {
    padding: var(--section-padding) 0;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.articles .container .card {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
    overflow: hidden;
    transition-duration: var(--main-transition);
}

.articles .container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);

}

.articles .container .text {
    padding: 20px;
    border-bottom: 1px solid #e6e6e7;
}

.articles .container .text p {
    color: #777;
    margin-top: 10px;
}

.articles .container img {
    max-width: 100%;
}

.articles .container .more {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
}

.articles .container .card:hover .more i {
    animation: articles-arrow infinite 0.8s linear;
}

@keyframes articles-arrow {
    to {
        transform: translateX(10px);
    }
}

/* end articles */
/* start gallery */
.gallery {
    background-color: var(--section-background);
    padding: var(--section-padding) 0;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    gap: 30px;
}

.gallery .container .card {
    border: 10px solid white;
    overflow: hidden;
    position: relative;
}

.gallery .container .card:hover img {
    transform: scale(1.1) rotate(5deg);
}

.gallery .container .card:hover::before {
    animation: gallery-image 0.5s linear;

}

.gallery .container .card img {
    max-width: 100%;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition-duration: var(--main-transition);
    position: relative;
}

.gallery .container .card::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0%;
    height: 0%;
    background-color: rgb(255 255 255 / 20%);
    z-index: 5;
    transition-duration: var(--main-transition);
}

@keyframes gallery-image {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end gallery */
/* start features */
.features {
    padding: var(--section-padding) 0;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    gap: 30px;
}

.features .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
}

.features .container .card:hover .image::after {
    clip-path: polygon(0 70%, -30% 15%, 100% 100%, 0% 100%);
}

.features .container .card .image {
    position: relative;
    overflow: hidden;
}

.features .container .card .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(166, 255, 0, 0.3);
    z-index: 5;
}

.features .container .card .image::after {
    content: "";
    position: absolute;
    top: 51%;
    left: -5px;
    width: 104%;
    height: 50%;
    background-color: white;
    z-index: 6;
    clip-path: polygon(0 70%, 110% 0, 100% 100%, 0% 100%);
    transition-duration: var(--main-transition);
}

.features .container .card .text {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features .container .card .text h2 {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    width: fit-content;
}

.features .container .card .text h2::after {
    content: "";
    position: absolute;
    background-color: blue;
    height: 4px;
    width: 80%;
    left: 10%;
    bottom: -10px;
}

.features .container .card .text p {
    font-size: 20px;
    color: #777;
    line-height: 1.8;
    margin: 10px 0;
}

.features .container .card a {
    display: block;
    padding: 10px 30px;
    border: 3px solid blue;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    color: blue;
    margin: 30px 0;
    transition-duration: var(--main-transition);
    position: relative;
    background: linear-gradient(to right, blue 50%, white 50%);
    background-position: right;
    background-size: 210% 110%;
}

/* coloring the first child */
.features .container .card:nth-child(1) a {
    background-image: linear-gradient(to right, #f44036 50%, white 50%);
    border: 3px solid #f44036;
    color: #f44036;
}

.features .container .card:nth-child(1) .text h2::after {
    background-color: #f44036;
}

.features .container .card:nth-child(1) .image::before {
    background-color: rgba(244, 64, 54, 0.5);

}

/* finish coloring the first child */
/* coloring the second child */
.features .container .card:nth-child(2) a {
    background-image: linear-gradient(to right, #009688 50%, white 50%);
    border: 3px solid #009688;
    color: #009688;
}

.features .container .card:nth-child(2) .text h2::after {
    background-color: #009688;
}

.features .container .card:nth-child(2) .image::before {
    background-color: rgba(0, 150, 136, 0.5);
}

/* finish coloring the second child */
/* coloring the third child */
.features .container .card:nth-child(3) a {
    background-image: linear-gradient(to right, #03a9f4 50%, white 50%);
    border: 3px solid #03a9f4;
    color: #03a9f4;
}

.features .container .card:nth-child(3) .text h2::after {
    background-color: #03a9f4;
}

.features .container .card:nth-child(3) .image::before {
    background-color: rgba(3, 169, 244, 0.5);
}

/* finish coloring the third child */
.features .container .card:hover a {
    color: white;
    background-position: left;
}

.features .container img {
    max-width: 100%;
}

/* end features */
/* start testmonials */
.testmonials {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}

.testmonials .container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
}

.testmonials .container .card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.testmonials .container h3 {
    text-transform: capitalize;
}

.testmonials .container span {
    color: #777;
    margin: 8px 0;
}

.testmonials .container i.filled {
    color: gold;
}

.testmonials .container p {
    color: #777;
    line-height: 1.6;
    margin-top: 5px;
}

.testmonials .container .card .image {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid var(--section-background);
    right: 0;
    top: 0;
    transform: translateY(-50%);
}

.testmonials .container .card img {
    width: 100%;
}

/* end testmonials */
/* start TEAM MEMBERS */
.members {
    padding: var(--section-padding) 0;
}

.members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 30px;
}

.members .container .card {
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.members .container .image {
    position: absolute;
    z-index: 2;
    max-width: 285px;
    top: 46%;
    left: 0;
    transform: translate(0, -50%);
    overflow: hidden;
}

.members .container img {
    max-width: 100%;
    border-radius: 10px;
    transition-duration: var(--main-transition);
}

.members .container .back {
    height: 430px;
    background-color: #e6e6e7;
    width: 285px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.members .container .back::before {
    right: 0;
    border-radius: 10px;
    top: 0;
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba(102, 102, 102, 0.3);
    transition-duration: var(--main-transition);
}

.members .container .back .text {
    text-transform: capitalize;
}

.members .container .back h3 {
    font-size: 22px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.members .container .back .social {
    color: #777;
    width: calc(100% - 285px);
    display: flex;
    flex-direction: column;
    right: 0px;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    align-items: center;
}

.members .container .back .social a {
    display: block;
    padding: 20px 0;
    width: 100%;
    text-align: center;

    &:hover {
        color: var(--main-color);
    }
}

.members .container .card:hover img {
    filter: grayscale(100%);
}

.members .container .card:hover h3 {
    color: #777;
}

.members .container .card:hover .back::before {
    width: 285px;
}

@media(max-width:767px) {
    .members .container .back {
        width: 100%;
    }

    .members .container .card:hover .back::before {
        width: 100%;
    }
}

/* end TEAM MEMBERS */
/* start services */
.services {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 30px;
}

.services .container .card {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    justify-content: center;
    align-items: center;
    position: relative;
    transition-duration: var(--main-transition);
}

.services .container .card::before {
    position: absolute;
    content: "";
    background-color: var(--main-color);
    width: 0%;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    transition-duration: var(--main-transition);
}

.services .container .card .top {
    color: #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .container .card .top h3 {
    font-size: 25px;
    color: var(--main-color);
    padding: 20px 0;
}

.services .container .card .bottom {
    color: var(--main-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.services .container .card .bottom::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 30%;
    background-color: #d5d5d5;
    left: 20%;
    top: 0;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.services .container .card .bottom .number {
    color: white;
    font-size: 30px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    padding: 0 20px;
    font-weight: bold;

}

.services .container .card .bottom a {
    background-color: #f9f9f9;
    display: flex;
    padding: 0 20px;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
}

.services .card:hover {
    transform: translateY(-10px);
}

.services .card:hover::before {
    width: 100%;
}

/* end services */
/* start skills */
.skills {
    padding: var(--section-padding) 0;
}

.skills .container {
    display: flex;
}

.skills .container .bars {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.skills .container .bars .item {
    display: flex;
    flex-direction: column;
}

.skills .container .bars .item .percentage {
    width: 100%;
    height: 30px;
    background-color: #d5d5d5;
    margin: 10px 0 20px;
    position: relative;
}

.skills .container .bars .item .percentage::after {
    content: attr(my-percentage);
    position: absolute;
    top: -12px;
    transform: translateY(-100%);
    right: 0px;
    border: 1px solid gray;
    padding: 3px 5px;
    border-radius: 5px;
    color: var(--main-color);
}

.skills .container .bars .item .percentage::before {
    content: "";
    position: absolute;
    width: 80%;
    /*for the first and the last*/
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}

.skills .container .bars .item:nth-child(2) .percentage::before {
    width: 85%;
}

.skills .container .bars .item:nth-child(3) .percentage::before {
    width: 70%;
}

@media (max-width:992px) {
    .skills .container .image {
        display: none;
    }
}

/* end skills */
/* how it works */
.works {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}

.works .container {
    display: flex;
    gap: 100px;
}

.works .container>img {
    max-width: 100%;
}

.works .container .cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.works .container .cards .card {
    display: flex;
    gap: 30px;
    background-color: #f6f5f5;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
}

.works .container .cards .card:hover::before {
    width: 100%;
    height: 100%;
}

.works .container .cards .card::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 0%;
    width: 0%;
    background-color: red;
    background-color: rgba(102, 102, 102, 0.3);
    transition-duration: var(--main-transition);
}

.works .container .card .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.works .container .card .text h3 {
    font-size: 22px;
}

.works .container .card .text p {
    color: #777;
    font-size: 18px;
    line-height: 1.8;
}

.works .container .card img {
    width: 64px;
}

@media (max-width:992px) {
    .works .container {
        flex-direction: column;
    }

    .works .container .card {
        flex-direction: column;
    }

}

/* how it works */
/* start events */
.events {
    padding: var(--section-padding) 0;
    position: relative;
}

.events .image {
    width: fit-content;
}

.events img {
    max-width: 450px;
}

.events .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.events .top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.events .top .info .count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
}

.events .text h2 {
    font-size: 30px;
    margin: 40px 0 20px;
    font-weight: bold;
}

.events .text p {
    font-size: 19px;
    line-height: 1.8;
    color: #777;
}

.events .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    color: var(--main-color);
    width: 90px;
    border-radius: 10px;
}

.events .card span:first-child {
    font-size: 35px;
    padding: 15px 0;
    border-bottom: 1px solid #777;
    max-width: 100%;
    text-align: center;
    width: 100%;
}

.events .card span:last-child {
    font-size: 13px;
    padding: 8px;
    max-width: 100%;
    text-transform: capitalize;
}

.events .bottom {
    padding: 20px;
    background-color: #f6f6f6;
    display: flex;
    gap: 20px;
    border-radius: 100px;
    max-width: 90%;

}

.events .bottom input {
    width: 400px;
    max-width: 90%;
    font-size: 20px;
    padding: 15px;
    border-radius: 40px;
    border: 0;
    outline: none;
}

.events .bottom input:focus::placeholder {
    opacity: 0;
    transition-duration: var(--main-transition);
}

.events .bottom button {
    padding: 10px;
    color: white;
    background-color: var(--main-color);
    font-size: 20px;
    border-radius: 40px;
    border: 0;
    outline: none;
    padding: 10px;
    font-weight: bold;
}

@media (max-width:992px) {
    .events .image {
        display: none;
    }

    .events .bottom {
        margin-top: 50px;
        flex-direction: column;
    }

    .events .card {
        width: 70px;
    }

    .events .card span:first-child {
        font-size: 30px;
    }

    .events .bottom,
    .events input,
    .events button {
        border-radius: 0;
    }

    .events .bottom input {
        max-width: 100%;
    }
}

/* end events */
/* start plans */
.plans {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
    position: relative;
}

.plans .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 30px;
}

.plans .container .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    justify-content: center;
    position: relative;
    max-width: 100%;
}

.plans .container .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50.1%;
    width: 0%;
    background-color: #f6f6f6;
    transition: var(--main-transition);
}

.plans .container .card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 0%;
    transform: translateY(100%);
    background-color: #f6f6f6;
    transition: var(--main-transition);
}

.plans .container .card:hover::before {
    width: 100%;
}

.plans .container .card:hover::after {
    width: 100%;
}

.plans .container .card .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    position: relative;
}

.plans .container .card:nth-child(2) .top::before {
    content: "Most Popular";
    position: absolute;
    top: 52px;
    right: -30px;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding-right: 40px;
    transform: rotate(90deg);
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0 0);

}

.plans .container .card .top h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.plans .container .card .top .price {
    font-size: 60px;
    color: var(--main-color);
    font-weight: bold;
    margin: 15px 0 5px;
}

.plans .container .card .top .month {
    color: #777;
}

.plans .container .card .top span {
    display: block;
}

.plans .container .card .top ul {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

.plans .container ul li {
    border-top: 1px solid #eee;
    padding: 20px 0;
    padding-left: 20px;
    z-index: 5;
    position: relative;

    &::before {
        font-family: "Font Awesome 5 Free";
        content: "\f00c";
        margin-right: 10px;
        font-weight: 900;
        font-size: 18px;
        color: var(--main-color);
    }
}

.plans button {
    position: relative;
    align-self: center;
    margin: 30px 0 40px;
    border: 2px solid var(--main-color);
    padding: 15px 20px;
    border-radius: 6px;
    background: linear-gradient(to left, var(--main-color) 50%, transparent 50%);
    background-position: 0%;
    background-size: 210% 110%;
    color: var(--main-color);
    font-weight: bold;
    transition-duration: var(--main-transition);
    z-index: 5;
}

.plans .card button:hover {
    color: white;
    background-position: 98%;
}

.plans .container img {
    width: 80px;
}

@media (min-width:1140px) {
    .plans .card:nth-child(2) {
        transform: translateY(-20px);
    }
}

/* end plans */
/* start videos */
.videos {
    padding: var(--section-padding) 0;
}

.videos .container .holder {
    display: flex;
    border: 1px solid #ddd;
}

.videos .container .left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

.videos .container .left .top {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
    font-weight: bold;
}

.videos .container .left li {
    padding: 20px;
}

.videos .container .left li:hover {
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .container .left li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}


.videos .container .left li span {
    color: #777;
    display: block;
    margin-top: 10px;
}

.videos .container .right {
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    padding: 10px;
    justify-content: space-between;
}

.videos .container .right .bar {
    background-color: white;
    padding: 20px;

}

.videos img {
    max-width: 100%;
}

@media(max-width:992px) {
    .videos .holder {
        flex-direction: column;
    }

    .videos .right {
        gap: 20px;
    }
}

/* end videos */
/* start stats */
.stats {
    padding: var(--section-padding) 0;
    background-image: url("../images/stats.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.stats div {
    position: relative;
}

.stats .heading {
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin: 0 auto 50px;
    position: relative;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.stats .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 15px;
    background-color: white;
    padding: 20px;
    font-weight: bold;
    opacity: 0.8;
    position: relative;
}

.stats .card::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 0%;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.stats .card::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 0%;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
    transition: var(--main-transition);

}

.stats .card:hover::before,
.stats .card:hover::after {
    height: 100%;
}

.stats .card span:first-of-type {
    font-size: 50px;
}

.stats .card span:last-of-type {
    color: var(--main-color);
    font-style: italic;
    font-size: 20px;
}

/* end stats */
/* start discount */
.discount {
    /* padding: var(--section-padding) 0; */
    display: flex;
}

.discount>div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 30px;
}

.discount .left {
    background-image: url("../images/discount-background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    padding-top: 80px;
    animation: change-background 10s infinite linear;
}

.discount .left::before {
    background-color: rgb(23 135 224 / 97%);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.discount .left * {
    position: relative;
    text-align: center;
}

.discount .left img {
    max-width: 100%;
    width: 300px;
}

.discount .left h3 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .left p {
    align-self: center;
    margin: 30px 0;
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .right {
    align-items: center;
}

.discount .right h3 {
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 30px;
    width: fit-content;
}

.discount .right form {
    display: flex;
    flex-direction: column;

}

.discount .right form * {
    max-width: 301px;
    width: 301px;
    padding: 15px;
    margin-bottom: 25px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
}

.discount .right form *:focus::placeholder {
    transition: var(--main-transition);
    opacity: 0;

}

.discount .right textarea {
    height: 200px;
    resize: none;
}

.discount .right button {
    color: white;
    background-color: var(--main-color);
}

@media (max-width:992px) {
    .discount {
        flex-direction: column;
    }
}

@keyframes change-background {

    0%,
    100% {
        background-image: url("../images/discount-background1.jpg");
    }

    50% {
        background-image: url("../images/discount-background2.jpg");
    }
}

/* end discount */
/* start footer */
.footer {
    padding-top: 70px;
    background-color: #191919;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer .container .top {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 40px;
    row-gap: 50px;
    color: #b9b9b9;
}

.footer .container .top .one {
    display: flex;
    flex-direction: column;
}

.footer .container .top .one .title {
    font: 50px bold;
    color: white;
    margin-bottom: 20px;
}

.footer .container .top .one .icons {
    display: flex;
    gap: 10px;
}

.footer .container .one .icons i {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #313131;
    justify-content: center;
    align-items: center;
    transition-duration: var(--main-transition);
}

.footer .container .one .icons i:nth-child(1):hover {
    background-color: blue;
}

.footer .container .one .icons i:nth-child(2):hover {
    background-color: rgb(15, 192, 236);
}

.footer .container .one .icons i:nth-child(3):hover {
    background-color: red;
}

.footer .container .one p {
    line-height: 2;
    margin-top: 8px;
}

.footer .container li a {
    display: block;
    font-size: 16px;
    padding: 15px 0;
    width: 100%;
}

.footer .container li:not(:last-child) a {
    border-bottom: 1px solid #b9b9b9;
}

.footer .container li a:hover {
    padding-left: 15px;
}

.footer .container li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
    margin-right: 15px;
}

.footer .three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.8;
    gap: 20px;
    align-items: flex-start;
}

.footer .three>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer .three i {
    color: var(--main-color);
    font-size: 25px;
}

.footer .three .info {
    display: flex;
    flex-direction: column;
}



.footer .container .four {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer .container img {
    border: 3px solid white;
    width: fit-content;
    width: 78px;
    height: 78px;
    max-width: 100%;
}

.footer .bottom {
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    font-size: 18;
    font-weight: bold;
    text-transform: capitalize;
    border-top: 1px solid #444;
    margin-top: 30px;
}

@media (max-width:767px) {
    .footer .container .top .one {
        align-items: center;
        text-align: center;
    }

    .footer .three>div {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
}

/* end footer */